body { /* pour définir une marge du haut */
    padding-top: 50px;
}
.cadreCV { /* pour ajouter un cadre blanc */
    padding-bottom: 15px;
    background: white;
}

/****************************************
*	En-tête du CV
****************************************/
#cv-entete { /* pour définir les caractéristiques de la zone d'entête '*/
    margin-top: -45px;
    width: 100%;
}
#cv-photo { /* pour définir les caractéristiques de la zone de la photo */
    width:	172px;
    height:	172px;
    border-radius:	50%;
    overflow:	hidden;
    padding: 5px;
    background: #eee;
    display: inline-block;
}
#cv-photo img { /* pour définir les caractéristiques de la photo elle-même */
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
#cv-intro h1 { /* pour définir les caractéristiques de la phrase d'introduction */
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    font-weight: 700;
    letter-spacing: -1px;
}
#cv-intro h1 span { /* pour avoir certains mots en rouge dans l'intro */
    color: rgb(226,0,26);
}
#cv-intro::after {
    background: url('images/ligne.png'); /* pour afficher la ligne de séparation */
    width: 100%;
    height: 3px;
    margin-top: 15px;
    content: '';
    display: block;
}
/****************************************
*	Rubriques
****************************************/
.rubrique { /* mage du bas pour toutes les classes "rubrique" */
    margin-bottom: 15px;
}
.rubrique h2 { /* rouge pour les titres h2 */
    color: rgb(226,0,26);
}
.rubrique h2::before{ /* marge de droite avant les titres h2*/
    margin-right: 5px;
}
.rubrique p{ /* caractéristiques des paragraphes */
    font-size: 1.3em;
    line-height: 1.5em;
}
/******************************************
*	Formation
******************************************/
#parcours {
    margin-top: 20px;
    position: relative;
    padding: 1em 0;
    list-style: none;
}
#parcours::before {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 7.8px;
    top: 0;
    display: block;
    background: linear-gradient(to bottom, #ffffff 0%, #E2001A 7%, #E2001A, #ffffff 100%);
    content:"";
}
#parcours li {
    width: 100%;
    z-index: 2;
    position: relative;
    float: left;
}
#parcours .date .glyphicon-record::before {
    background: #FFFFFF;
    color: #555;
}
#parcours .date {
    width: 75px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;
}
#parcours .details {
    width: 325px;
    display: inline-block;
    background: #eee;
    position: relative;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #ddd;
    margin: -4px -12px 20px 0;
}
#parcours .details::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    left: -16px;
    height: 0;
    width: 0;
    border: solid transparent;
    border-right-color: #eee;
    border-width: 8px;
    pointer-events: none;
}
#parcours .details h3{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    font-weight: 700;
}
#parcours .details p{
    font-size: 1.3em;
    margin-top: 5px;
    padding: 0;
}
/******************************************
*	Expérience professionnelle
******************************************/
.experience {
    display:flex;
    margin-bottom: 15px;
}
.experience .lieu {
    font-size: 1.1em;
    font-weight: bold;
}
.experience .date {
    font-size: 1em;
    opacity: 0.7;
}
.experience .profession {
    font-size: 1.45em;
    font-weight: bold;
    margin-top: -6px;
}
.experience .details {
    font-size: 1.2em;
    line-height: 1.5em;
}
/******************************************
*	Langues
******************************************/
#langues .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#langues .langue, #langues .niveau{
    font-size: 1.3em;
}
#langues .langue {
    padding-top: 3px;
}